form {
  display: flex;
  margin: 0 auto 2em auto;
  padding: 0.5em;
  width: 90%;
  max-height: 150px;
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid var(--font-color);
  border-radius: 0 0 0.5em 0.5em;
  color: white;
  font-weight: 300;
  overflow: auto;
}

input::placeholder {
  color: var(--color-accent);
  font-weight: 300;
}

input[type='text'],
input[type='password'],
input[type='textarea'] {
  margin: 5px 0 5px 10px;
  width: inherit;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1em;
  padding: 10px 0px;
  border: 0;
  color: white;
  background-color: transparent;
  border-bottom: 2px solid var(--color-primary);
}
