article {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
  width: 95%;
  max-width: 700px;
  background-color: var(--color-secondary);
}

article .header {
  display: flex;
  width: 100%;
  align-items: center;
}

article h2 {
  padding-left: 5px;
  color: var(--color-primary);
}

article h3 {
  padding-left: 5px;
  color: var(--font-color);
  font-weight: 400;
}

article .like {
  width: auto;
  font-weight: 400;
}

article a {
  color: var(--color-primary);
  font-weight: 400;
  text-decoration: none;
  transition: none;
}

article a:hover {
  color: var(--color-accent);
  text-decoration: none;
  transition: none;
}

aside {
  position: absolute;
  right: 10px;
  bottom: -35px;
  padding: 10px;
  width: 95%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: 300;
  z-index: -1;
}

.fa-clock {
  font-size: 0.8em;
}