.app-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  height: 90vh;
  overflow: auto;
}


.app-user-icon {
  margin-bottom: -50px;
  width: 100px;
  height: 100px;
  padding: 15px;
  font-size: 4em;
  border-radius: 5em;
  text-align: center;
  color: var(--color-primary);
  z-index: 1;
}

.app-login-form {
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 375px;
  padding: 10px;
}

.app-login .app-user-icon,
.app-login .app-login-form {
  background-color: var(--color-secondary);
}

.app-login-form h3 {
  margin-block-start: 15px;
}

.app-login-form > input::placeholder {
  color: var(--color-accent);
}

.app-login-form > input[type='text'],
.app-login-form > input[type='password'],
.app-login-form > input[type='textarea'] {
  margin: 5px 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1em;
  padding: 10px 0px;
  border: 0;
  color: var(--color-primary);
  background-color: transparent;
  border-bottom: 2px solid var(--color-primary);
}

/* Buttons styles */
input[type='button'] {
  position: relative;
  top: 25px;
  width: 125px;
  padding: 15px 0 10px 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
  border: 0;
  color: white;
  cursor: pointer;
}

input[type='button'].login {
  margin: 0 auto;
  background-color: #10A600;
}

input[type='button'].sign {
  margin: 0 auto;
  background-color: var(--color-secondary);
  color: var(--color-primary);
}
/******************/

.app-sign {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.app-sign h2 {
  color: white;
  font-size: 1.1em;
}
