.app-post-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 10px;
  background-color: rgba(33,33,33,0.5);
}

.app-post-form div {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.app-post-form > div input[type=text] {
  width: 85%;
  height: 32px;
  padding: 10px;
  color: var(--color-secondary);
  font-size: 1em;
}

.app-post-form .options {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0 10px;
}

.app-post-form .options input[type='submit'].publish {
  position: unset;
  width: 125px;
  padding: 15px 0 10px 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
  border: 0;
  color: var(--font-color);
  background-color: #10A600;
  cursor: pointer;
}

.app-post-form label {
  display: block;
}

.app-post-form input[type="file"] {
  display: none;
}

.app-post-form label.file-upload {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: var(--color-secondary);
  cursor: pointer;
}
