header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 5px;
  min-height: 10vh;
  max-height: 10vh;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.logo {
  background-image: url('../assets/logoDesktop.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 300px;
  height: 50px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .logo {
    background-image: url('../assets/logoMobile.png');
    width: 50px;
  }
}
